In [32]:
import pandas as pd
import numpy as np
import math
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestRegressor

df = pd.read_csv("data/train.csv")

def map_sex(str):
    if (str == "male"):
        return 0
    else:
        return 1
    
def insert_age(row):
    if (math.isnan(row["Age"])):
        #print(row)
        #row["Age"] = lr.predict(
        r_d = row.drop(columns=["Name", "Cabin", "Ticket", "Embarked", "Survived", "Age"])
        print(r_d)
    return row
    

#trying out linear regression and a random forest regressor for age prediction
#df = df.drop(columns=["Name", "Cabin", "Ticket", "Embarked", "Survived"]).dropna()
#df["Sex"] = df["Sex"].map(map_sex)
#df_y = df["Age"]
#df_x = df.drop(columns="Age")
#
#lr = LinearRegression()
#rfr = RandomForestRegressor()
#
#print(cross_val_score(lr, df_x, df_y, cv=5).mean())
#
#print(cross_val_score(rfr, df_x, df_y, cv=5).mean())

df_1 = df.drop(columns=["Name", "Cabin", "Ticket", "Embarked", "Survived"]).dropna()
df_1["Sex"] = df_1["Sex"].map(map_sex)
df_y = df_1["Age"]
df_x = df_1.drop(columns="Age")



lr.fit(df_x, df_y)


df.apply(insert_age, axis=1)


#print(df)

df.to_csv("data/train_age_predicted.csv")

PassengerId                   6
Survived                      0
Pclass                        3
Name           Moran, Mr. James
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                   330877
Fare                     8.4583
Cabin                       NaN
Embarked                      Q
Name: 5, dtype: object
PassengerId                              18
Survived                                  1
Pclass                                    2
Name           Williams, Mr. Charles Eugene
Sex                                    male
Age                                     NaN
SibSp                                     0
Parch                                     0
Ticket                               244373
Fare                                     13
Cabin                                   NaN
Embarked                                  S
Name: 17, dtype: object
PassengerId                         20
Survived                             1
Pclass                               3
Name           Masselmani, Mrs. Fatima
Sex                             female
Age                                NaN
SibSp                                0
Parch                                0
Ticket                            2649
Fare                             7.225
Cabin                              NaN
Embarked                             C
Name: 19, dtype: object
PassengerId                         27
Survived                             0
Pclass                               3
Name           Emir, Mr. Farred Chehab
Sex                               male
Age                                NaN
SibSp                                0
Parch                                0
Ticket                            2631
Fare                             7.225
Cabin                              NaN
Embarked                             C
Name: 26, dtype: object
PassengerId                               29
Survived                                   1
Pclass                                     3
Name           O'Dwyer, Miss. Ellen "Nellie"
Sex                                   female
Age                                      NaN
SibSp                                      0
Parch                                      0
Ticket                                330959
Fare                                  7.8792
Cabin                                    NaN
Embarked                                   Q
Name: 28, dtype: object
PassengerId                     30
Survived                         0
Pclass                           3
Name           Todoroff, Mr. Lalio
Sex                           male
Age                            NaN
SibSp                            0
Parch                            0
Ticket                      349216
Fare                        7.8958
Cabin                          NaN
Embarked                         S
Name: 29, dtype: object
PassengerId                                                32
Survived                                                    1
Pclass                                                      1
Name           Spencer, Mrs. William Augustus (Marie Eugenie)
Sex                                                    female
Age                                                       NaN
SibSp                                                       1
Parch                                                       0
Ticket                                               PC 17569
Fare                                                  146.521
Cabin                                                     B78
Embarked                                                    C
Name: 31, dtype: object
PassengerId                          33
Survived                              1
Pclass                                3
Name           Glynn, Miss. Mary Agatha
Sex                              female
Age                                 NaN
SibSp                                 0
Parch                                 0
Ticket                           335677
Fare                               7.75
Cabin                               NaN
Embarked                              Q
Name: 32, dtype: object
PassengerId                  37
Survived                      1
Pclass                        3
Name           Mamee, Mr. Hanna
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                     2677
Fare                     7.2292
Cabin                       NaN
Embarked                      C
Name: 36, dtype: object
PassengerId                     43
Survived                         0
Pclass                           3
Name           Kraeff, Mr. Theodor
Sex                           male
Age                            NaN
SibSp                            0
Parch                            0
Ticket                      349253
Fare                        7.8958
Cabin                          NaN
Embarked                         C
Name: 42, dtype: object
PassengerId                          46
Survived                              0
Pclass                                3
Name           Rogers, Mr. William John
Sex                                male
Age                                 NaN
SibSp                                 0
Parch                                 0
Ticket                  S.C./A.4. 23567
Fare                               8.05
Cabin                               NaN
Embarked                              S
Name: 45, dtype: object
PassengerId                   47
Survived                       0
Pclass                         3
Name           Lennon, Mr. Denis
Sex                         male
Age                          NaN
SibSp                          1
Parch                          0
Ticket                    370371
Fare                        15.5
Cabin                        NaN
Embarked                       Q
Name: 46, dtype: object
PassengerId                           48
Survived                               1
Pclass                                 3
Name           O'Driscoll, Miss. Bridget
Sex                               female
Age                                  NaN
SibSp                                  0
Parch                                  0
Ticket                             14311
Fare                                7.75
Cabin                                NaN
Embarked                               Q
Name: 47, dtype: object
PassengerId                     49
Survived                         0
Pclass                           3
Name           Samaan, Mr. Youssef
Sex                           male
Age                            NaN
SibSp                            2
Parch                            0
Ticket                        2662
Fare                       21.6792
Cabin                          NaN
Embarked                         C
Name: 48, dtype: object
PassengerId                   56
Survived                       1
Pclass                         1
Name           Woolner, Mr. Hugh
Sex                         male
Age                          NaN
SibSp                          0
Parch                          0
Ticket                     19947
Fare                        35.5
Cabin                        C52
Embarked                       S
Name: 55, dtype: object
PassengerId                       65
Survived                           0
Pclass                             1
Name           Stewart, Mr. Albert A
Sex                             male
Age                              NaN
SibSp                              0
Parch                              0
Ticket                      PC 17605
Fare                         27.7208
Cabin                            NaN
Embarked                           C
Name: 64, dtype: object
PassengerId                          66
Survived                              1
Pclass                                3
Name           Moubarek, Master. Gerios
Sex                                male
Age                                 NaN
SibSp                                 1
Parch                                 1
Ticket                             2661
Fare                            15.2458
Cabin                               NaN
Embarked                              C
Name: 65, dtype: object
PassengerId                   77
Survived                       0
Pclass                         3
Name           Staneff, Mr. Ivan
Sex                         male
Age                          NaN
SibSp                          0
Parch                          0
Ticket                    349208
Fare                      7.8958
Cabin                        NaN
Embarked                       S
Name: 76, dtype: object
PassengerId                          78
Survived                              0
Pclass                                3
Name           Moutal, Mr. Rahamin Haim
Sex                                male
Age                                 NaN
SibSp                                 0
Parch                                 0
Ticket                           374746
Fare                               8.05
Cabin                               NaN
Embarked                              S
Name: 77, dtype: object
PassengerId                                83
Survived                                    1
Pclass                                      3
Name           McDermott, Miss. Brigdet Delia
Sex                                    female
Age                                       NaN
SibSp                                       0
Parch                                       0
Ticket                                 330932
Fare                                   7.7875
Cabin                                     NaN
Embarked                                    Q
Name: 82, dtype: object
PassengerId                               88
Survived                                   0
Pclass                                     3
Name           Slocovski, Mr. Selman Francis
Sex                                     male
Age                                      NaN
SibSp                                      0
Parch                                      0
Ticket                       SOTON/OQ 392086
Fare                                    8.05
Cabin                                    NaN
Embarked                                   S
Name: 87, dtype: object
PassengerId                             96
Survived                                 0
Pclass                                   3
Name           Shorney, Mr. Charles Joseph
Sex                                   male
Age                                    NaN
SibSp                                    0
Parch                                    0
Ticket                              374910
Fare                                  8.05
Cabin                                  NaN
Embarked                                 S
Name: 95, dtype: object
PassengerId                                 102
Survived                                      0
Pclass                                        3
Name           Petroff, Mr. Pastcho ("Pentcho")
Sex                                        male
Age                                         NaN
SibSp                                         0
Parch                                         0
Ticket                                   349215
Fare                                     7.8958
Cabin                                       NaN
Embarked                                      S
Name: 101, dtype: object
PassengerId                       108
Survived                            1
Pclass                              3
Name           Moss, Mr. Albert Johan
Sex                              male
Age                               NaN
SibSp                               0
Parch                               0
Ticket                         312991
Fare                            7.775
Cabin                             NaN
Embarked                            S
Name: 107, dtype: object
PassengerId                    110
Survived                         1
Pclass                           3
Name           Moran, Miss. Bertha
Sex                         female
Age                            NaN
SibSp                            1
Parch                            0
Ticket                      371110
Fare                         24.15
Cabin                          NaN
Embarked                         Q
Name: 109, dtype: object
PassengerId                           122
Survived                                0
Pclass                                  3
Name           Moore, Mr. Leonard Charles
Sex                                  male
Age                                   NaN
SibSp                                   0
Parch                                   0
Ticket                          A4. 54510
Fare                                 8.05
Cabin                                 NaN
Embarked                                S
Name: 121, dtype: object
PassengerId                    127
Survived                         0
Pclass                           3
Name           McMahon, Mr. Martin
Sex                           male
Age                            NaN
SibSp                            0
Parch                            0
Ticket                      370372
Fare                          7.75
Cabin                          NaN
Embarked                         Q
Name: 126, dtype: object
PassengerId                  129
Survived                       1
Pclass                         3
Name           Peter, Miss. Anna
Sex                       female
Age                          NaN
SibSp                          1
Parch                          1
Ticket                      2668
Fare                     22.3583
Cabin                      F E69
Embarked                       C
Name: 128, dtype: object
PassengerId                              141
Survived                                   0
Pclass                                     3
Name           Boulos, Mrs. Joseph (Sultana)
Sex                                   female
Age                                      NaN
SibSp                                      0
Parch                                      2
Ticket                                  2678
Fare                                 15.2458
Cabin                                    NaN
Embarked                                   C
Name: 140, dtype: object
PassengerId                      155
Survived                           0
Pclass                             3
Name           Olsen, Mr. Ole Martin
Sex                             male
Age                              NaN
SibSp                              0
Parch                              0
Ticket                     Fa 265302
Fare                          7.3125
Cabin                            NaN
Embarked                           S
Name: 154, dtype: object
PassengerId                    159
Survived                         0
Pclass                           3
Name           Smiljanic, Mr. Mile
Sex                           male
Age                            NaN
SibSp                            0
Parch                            0
Ticket                      315037
Fare                        8.6625
Cabin                          NaN
Embarked                         S
Name: 158, dtype: object
PassengerId                           160
Survived                                0
Pclass                                  3
Name           Sage, Master. Thomas Henry
Sex                                  male
Age                                   NaN
SibSp                                   8
Parch                                   2
Ticket                           CA. 2343
Fare                                69.55
Cabin                                 NaN
Embarked                                S
Name: 159, dtype: object
PassengerId                                       167
Survived                                            1
Pclass                                              1
Name           Chibnall, Mrs. (Edith Martha Bowerman)
Sex                                            female
Age                                               NaN
SibSp                                               0
Parch                                               1
Ticket                                         113505
Fare                                               55
Cabin                                             E33
Embarked                                            S
Name: 166, dtype: object
PassengerId                    169
Survived                         0
Pclass                           1
Name           Baumann, Mr. John D
Sex                           male
Age                            NaN
SibSp                            0
Parch                            0
Ticket                    PC 17318
Fare                        25.925
Cabin                          NaN
Embarked                         S
Name: 168, dtype: object
PassengerId                              177
Survived                                   0
Pclass                                     3
Name           Lefebre, Master. Henry Forbes
Sex                                     male
Age                                      NaN
SibSp                                      3
Parch                                      1
Ticket                                  4133
Fare                                 25.4667
Cabin                                    NaN
Embarked                                   S
Name: 176, dtype: object
PassengerId                             181
Survived                                  0
Pclass                                    3
Name           Sage, Miss. Constance Gladys
Sex                                  female
Age                                     NaN
SibSp                                     8
Parch                                     2
Ticket                             CA. 2343
Fare                                  69.55
Cabin                                   NaN
Embarked                                  S
Name: 180, dtype: object
PassengerId                 182
Survived                      0
Pclass                        2
Name           Pernot, Mr. Rene
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket            SC/PARIS 2131
Fare                      15.05
Cabin                       NaN
Embarked                      C
Name: 181, dtype: object
PassengerId                      186
Survived                           0
Pclass                             1
Name           Rood, Mr. Hugh Roscoe
Sex                             male
Age                              NaN
SibSp                              0
Parch                              0
Ticket                        113767
Fare                              50
Cabin                            A32
Embarked                           S
Name: 185, dtype: object
PassengerId                                                187
Survived                                                     1
Pclass                                                       3
Name           O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)
Sex                                                     female
Age                                                        NaN
SibSp                                                        1
Parch                                                        0
Ticket                                                  370365
Fare                                                      15.5
Cabin                                                      NaN
Embarked                                                     Q
Name: 186, dtype: object
PassengerId                    197
Survived                         0
Pclass                           3
Name           Mernagh, Mr. Robert
Sex                           male
Age                            NaN